.main-battle{
    
    height: 100vh;
    width: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.load-battle{
    button{
        width: 300px;
        height: 60px;
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color:#213F9E;
        background-color: #FFD538;
        border: none;
        clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);

    }
    button:hover{
        animation: battle-button 1s forwards;
    }
} 

@keyframes battle-button {
    0% { 
      width: 300px; }
    100% { 
    width: 400px; }

} 
    

.battle-background{
    position: relative;
    border: 2px solid lightgray;
    border-radius: 20px;
    width: 800px;
    height: 450px;;
    background-repeat: no-repeat;
    background-size: cover;

}

.userPokemon-img{
    position: absolute;
    bottom: -1.5rem;
    left: 1rem;
    width: 300px;
}

.userBench{
    position: absolute;
    display: flex;
    flex-direction: column;
    left: -7rem;
    bottom: 0rem;
    width: 100px;
    border-radius: 20px;
}


.userBenchPokemon {

    background-color: lightblue;
    border-radius: 20px;
    margin-bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &-img{
        cursor:pointer;
        filter:brightness(1);
    }
}

.pcPokemon-img{
    position: absolute;
    top: 6rem;
    right: 1rem;
    width: 200px;
}

.cpuBench{
    position: absolute;
    display: flex;
    flex-direction: column;
    right: -7rem;
    top: 0rem;
    width: 100px;
    border-radius: 20px;
}


.cpuBenchPokemon {

    background-color: lightblue;
    border-radius: 20px;
    margin-bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &-img{
        cursor:pointer;
        filter:brightness(0);
    }
}


.progress-bar {
    border: 2px solid rgb(114, 114, 247);
    
    border-radius: 14px;
    padding: 1px;
    width: 400px;
} 

.progress-bar > div {
    color: white;
    background: rgb(114, 114, 247);
    overflow: hidden;
    white-space: nowrap;
    width: 300px;
    border-radius: 10px;
    animation: progress-bar 1s;
 } 
 
 @keyframes progress-bar {
   0% { width: 0; }
 } 

 .selected-info{
    position: absolute;
    bottom: -8rem;
    width: 800px;
    height: 120px;
    h3{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 400;
        margin: 0px 0px 4px 5px;
    }
 }

 .currentAdv-info{
    position: absolute;
    top: -4rem;
    right: 0rem;
    h3{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 400;
        margin: 0px 0px 4px 5px;
    }
 }

 .moves{
    display: flex;
    flex-direction: row;

    &-button{
        width: 250px;
        display: flex;
        align-items: center;
        border: 1px solid black;
        border-radius: 15px;
        color: white;
        background-color: black;
        margin: 3px;
        cursor: pointer;

        img{
            width: 30px;
            height: 30px;
            margin: 1px 10px;
        }
        h3{
            margin: 12px 5px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 400;
        }
    }

 }
 
.progress-bar-cpu {
    border: 2px solid rgb(114, 114, 247);
    border-radius: 14px;
    padding: 1px;
    width: 400px;
} 

.progress-bar-cpu > div {
    color: white;
    background: rgb(114, 114, 247);
    overflow: hidden;
    white-space: nowrap;
    width: 300px;
    border-radius: 10px;
    animation: progress-bar 1s;
 } 