
body{
    margin: 0px;
}

head{
    margin: 0px;
}

main{
    width: 550px;
    height: 550px;
    background: #F5F7FB;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.card{
    width: 320px;
    height: 500px;
    padding: 6px 6px;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 15px;
    box-shadow: 3px 3px 5px;
    
    &-selected{
        width: 320px;
        height: 500px;
        padding: 6px 6px;
        margin: 5px 10px;
        display: flex;
        justify-content: center;
        align-content: center;
        border: 10px solid green;
        border-radius: 15px;
        box-shadow: 3px 3px 5px;
        

    }

    &-wrap{
        font-family: 'Source Sans Pro', sans-serif;
        width: 300px;
        height: 500px;
        padding: 0 10px;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
    }
    
    /*----------- CARD TOP -------------*/
    
    &-top{
        width: 300px;
        height: 30px;
        font-size: 15px;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:center;

        &-name{
            margin: 0px;
            font-weight: 400;
            color: white;
        }

        
        &-right{
            margin: 0px;
            display: flex;
            align-items: center;

            &-type-img{
                width: 25px;
                margin-right: 15px;
                border: 1px solid white;
                border-radius: 13px;
            }

            &-hp{
                margin: 0px;
                display: flex;
                align-items: baseline;
                padding: 5px;
                h2{
                    font-weight: 400;
                    color: white;
                    box-shadow: black;
                }
                h4{
                    font-weight: 400;
                    color: white;
                }
            }
        }
        &-right>*{
            margin:0px;
        }
    }
        /* ------------CARD IMAGE--------------- */
        
        &-image-container{
            width: 300px;
            height: 180px;
            border-start-end-radius: 20px;
            border-start-start-radius: 20px;
            display: flex;
            justify-content: center;
            //background: linear-gradient(-45deg, #5DE6DE 0%, #B58ECC 100% );
            //background-image: url(../public/background-images/0.png);
            //transform: translate3d(0px, 0px, 0) scale(0.95);
            
        }
        
        
        .box:before {
            content: "";
            z-index: -1;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: linear-gradient(-45deg, #5DE6DE 0%, #B58ECC 100% );
            transform: translate3d(0px, 20px, 0) scale(0.95);
            filter: blur(20px);
            opacity: var(0.7);
            transition: opacity 0.3s;
            border-radius: inherit;
        }

        /* 
        * Prevents issues when the parent creates a 
        * stacking context. (For example, using the transform
        * property )
        */
        .box::after {
            content: "";
            z-index: -1;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: inherit;
            border-radius: inherit;
        }
    
    &-name{
        letter-spacing: 0.05em;
        text-align: center;
        font-weight: 400;
        margin: 0px 0;
        padding: 10px 0;
        background-color: white;
    }
        
        /*--------------- CARD MOVES --------------*/
        
        /* ----------CARD PHYSIC MOVE ----------- */
    &-bottom{
        width: 300px;
        height: 280px;
        //border: 1px solid black;
        background-color: white;
        opacity: 91%;
        border-end-end-radius: 20px;
        border-end-start-radius: 20px;

        &-stats{
            
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2px;
            margin: 0 10px;

            &-text{
                display: flex;
                justify-content: space-between;

                h3{ 
                    margin: 3px 6px;
                    font-weight: 400;
                    font-size: 15px;
                }
            }
        }
    }
    &-move{
        font-size: 15px;
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 10px 10px;
        
        &-head{
            display: flex;
            height: 25px;
            width: 300px;
            align-items: center;
            justify-content: space-between;
            
            &-text{
                height: 25px;
                width: 150px;
                margin-left: 10px;
                display: flex;
                justify-content: space-between;
                
                &-name{
                    font-weight: 400;
                    margin: 0;
                    padding: 0px 4px;
                }
            }
            &-type{    
                display: flex;
                padding: 0 20px;
                align-items: center;
                margin: 0 10px;
                &-img{
                    width: 30px;
                    border: 1px solid white;
                    border-radius: 16px;
                }
                &-power{
                    height: 25px;
                    font-weight: 400;
                    margin: 0;
                    padding: 0px 4px;
                    margin: 0 10px;
                }
            }
        }
        
        &-buttons{
            margin: 8px 0;
            display: flex;
            align-content: space-around;

            button{
                font-family: 'Source Sans Pro', italic;
                font-size: 12px;
                background: white;
            }
        }
    }

}

.icon{
    background-image: url('https://w7.pngwing.com/pngs/324/645/png-transparent-pokemon-go-gotcha-video-game-jynx-pokeball-orange-pokemon-technology.png');
}

hr {
    width: 90%;
    background-color: black;
    height: 1px;
    border: none;
}

.card-load{
    width: 320px;
    height: 500px;
    padding: 6px 6px;
    margin: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 1px solid black;

}
.preloader {
    width: 100px;
    height: 100px;
    border: 10px solid #eee;
    border-top: 10px solid blue;
    border-radius: 50%;
    background-image: url('pokeball.png');
    animation-name: girar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  @keyframes girar {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }