.main-pokodex{
    background-color:  whitesmoke;
    width: 100vp;
    min-height: 500px;
    max-height: auto;
    padding: 50px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Monserrat', sans-serif;
    
    overflow-x: auto;
}

.pokodex-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    
    background-color: rgba(255,255,255, 0.9);
    border-radius: 15px;


}

.warning-battle-pokodex{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 200px;
    background-color: white;
    border-radius: 15px;
    h3{
        text-align: center;

    }
}

.poke{
    &-container{
        
        transform: scale(0.7);
        margin: -70px -30px;
        padding: 0px;
        cursor: pointer;
    }
        

    &-selected{
        border-radius: 15px;
        
        filter: drop-shadow(21px 21px 1rem black);

    }
 

    &-img{
        width: 200px;
        
        display: flex;
        justify-content: center;
        align-content: center;

        h2{
            color: white;
        }
        
    }
}

.sort-menu{
    position: absolute;
    background-color: rgba(255,255,255, 0.9);
    border-radius: 15px;
    
}