body { margin:0; padding:0 }
.home{
    width: 1920px;
    height: 1080px;
    margin: 0;
    padding: 0;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
}

.card-list{
    display: flex;
    flex-direction: row;
    transform: scale(0.7);
}

.card:hover{
    //transform: scale(1.1);
    animation-name: escala;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }
  @keyframes escala {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.07);
    }
  }

