body { margin:0; padding:0 }

.index{
  &-top{
    background-color: rgb(57, 103, 255);
    
    height: 220px;
    padding: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    img{
      width: 300px;
    }
  }

}

.home{
    width: 100%;
    height: 1080px;
    margin: 0;
    padding-top: 30px;
    font-family: 'Source Sans Pro', sans-serif; 
    //background-color: #FFD538;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;


    &-welcome{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        &-desc{
          
          padding: 50px;
          
          h1, h2, h3, p{
            margin: 5px;
            margin-bottom: 10px;
            text-align: center;
          }

          h1{
            font-size: 45px;
            margin-bottom: 50px;
          }

          p h3{
            font-size: 25px;
          }

          hr{
            margin-top: 70px;
          }
        }
      }
}

.card-list{
    display: flex;
    flex-direction: row;
    transform: scale(0.7);
}

.card:hover{
    //transform: scale(1.1);
    animation-name: escala;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }
  @keyframes escala {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.07);
    }
  }

button{
    width: 200px;
    height: 30px;
    margin-top: 25px;
}
