.modal{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0,0,0, 0.75);
    display: none;
    justify-content: center;
    align-items: center;

}

.modal.is-open{
    display: flex;
}

.modal-close{
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: black;
    border: none;
    font-size: 20px;
    background-color: rgba(0,0,0, 0);

}

.modal-close:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.modal-container{
    
    position: relative;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(182, 203, 236, 0.75);
    border-radius: 15px;
    padding: 0 10px;

    h2{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}