
body{
    margin: 0px;
}

head{
    margin: 0px;
}

main{
    width: 550px;
    height: 550px;
    background: #F5F7FB;
    font-family: 'Press Start 2P', cursive;
    letter-spacing: 0em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    &-wrap{
        font-family: 'Press Start 2P', cursive;
        background-color: silver;
        width: 300px;
        height: 420px;
        padding: 0 10px;
        border: 6px solid black;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
    /* 
        display: flex;
        flex-direction: column; */
    
        align-items: center;
        justify-content: center;
    }
    
    /*----------- CARD TOP -------------*/
    
    &-top{
        width: 300px;
        height: 30px;
        font-size: 10px;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:center;

        &-name{
            margin: 0px;
            font-weight: 600;
        }

        
        &-right{
            margin: 0px;
            display: flex;
            align-items: center;

            &-type-img{
                width: 25px;
                padding-right: 5px;
            }

            &-hp{
            margin: 0px;
            display: flex;
            align-items: baseline;
            }
        }
        &-right>*{
            margin:0px;
        }
    }
        /* ------------CARD IMAGE--------------- */
        
        &-image-container{
            width: 300px;
            height: 180px;
            border: 1px solid black;
            border-radius: 7px;
            display: flex;
            justify-content: center;
            background: linear-gradient(-45deg, #5DE6DE 0%, #B58ECC 100% );
            transform: translate3d(0px, 0px, 0) scale(0.95);
            
        }
        
        
        .box:before {
            content: "";
            z-index: -1;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: linear-gradient(-45deg, #5DE6DE 0%, #B58ECC 100% );
            transform: translate3d(0px, 20px, 0) scale(0.95);
            filter: blur(20px);
            opacity: var(0.7);
            transition: opacity 0.3s;
            border-radius: inherit;
        }

        /* 
        * Prevents issues when the parent creates a 
        * stacking context. (For example, using the transform
        * property )
        */
        .box::after {
            content: "";
            z-index: -1;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: inherit;
            border-radius: inherit;
        }
        
        /*--------------- CARD MOVES --------------*/
        
        /* ----------CARD PHYSIC MOVE ----------- */
        
        &-move{
            font-size: 9px;
            display:flex;
            flex-direction: column;
            align-items: flex-start;
            
            &-head{
                display: flex;
                margin-top: 5px;
                height: 25px;
                align-items: center;
                
                &-text{
                    width: 200px;
                    height: 25px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border: 2px solid ;
                    border-radius: 5px;
                    background-color: #B58ECC;
                    box-shadow: #5DE6DE;
                }
            }
            
            &-type{
                width: 80px;
                font-weight: 'ExtraLight';
                padding: 0 10px;
                
                &-text{
                    border: 3px dotted blueviolet;
                    border-radius: 5px;
                    margin: 0px;
                    text-align: center;
                }
            }
            
            
            &-name{
                margin: 0;
                padding: 0px 4px;
            }
            
            &-power{
                margin: 0;
                padding: 0px 4px;
            }
            
            &-buttons{
                margin: 8px 0;
                display: flex;
                align-content: space-around;

                button{
                    font-family: 'Press Start 2P', cursive;
                    font-size: 9px;
                    background: white;
                }
            }
        }

}
        
        .poke {
            display: flex;
        }